.aniLogo{
	box-shadow: -4px 4px 3px #485251;
	opacity:0.7;
	
	
}
.x2Box{
margin-left:3%;
	float:left;
	padding-top:10px;
	
}
#Firmen{
width:100%;

}
.FadeIn{
	animation: FadeIn 0.15s linear;
	-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.FadeOut{
	animation: FadeOut 0.15s linear;
	-webkit-animation-iteration-count: 1; /* Chrome, Safari, Opera */
    animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}


@keyframes FadeIn{
	0% {
		opacity:0.7;
		transform: scale(1);
		box-shadow: -4px 4px 3px #485251;
	
	}
	100% {
		opacity:1;
		transform: scale(1.3);
		box-shadow: -1px 1px 3px #485251;
	}
}
@keyframes FadeOut{
	0% {
		opacity:1;
		transform: scale(1.3);
		box-shadow: -1px 1px 3px #485251;
	}
	100% {
		opacity:0.7;
		transform: scale(1);
		box-shadow: -4px 4px 3px #485251;
	}
}