
	<head>
		<title>location</title>
		<meta charset="UTF-8">
		
		<link rel="stylesheet" href="css/local.css">
	
		<script type="text/javascript" src="js/loc.js"></script>
		<script type="text/javascript" LANGUAGE="javascript">window.onpopstate =  parent.checkBt()</script>
		
		<!-- backward forward BTN-reset-->
		<!--<script>alert(performance.navigation.type);</script>-->
			<style>
			@import 'https://fonts.googleapis.com/css?family=Rubik';
			@import 'https://fonts.googleapis.com/css?family=Raleway';
			<!--ul {list-style-image:url(img/ico.png)};-->
		</style>
			
	</head>
<body onload="startGallery()">

<div id="mCont">

	
						
						<div class ="Gbox50" id="cont2">
						
							<div id="mainContens">
						<div class="mainText">Vorwiegend unterrichte ich in Berlin.
								Mein Wirkungsbereich  erstreckt sich aber auch über  ganz Deutschland</div>	
							<div class="abstand"></div>
							<div class="fragen">Sie haben einen Schulungsraum?<br>- Dann komme ich zu Ihnen.</div>	
							
							<div class="fragen">Oder haben Sie KEINEN Schulungsraum?<br></div>	
							
								
								
								<div class="abstand"></div>
									<div id="orga" class="mainText">
								In  Berlin und anderen  Standorten organisiere  ich Ihnen einen  Schulungsraum komplett ausgestattet mit:<br>
										
							<div id="list">
								
									<ul>
									<li>Technik zur Visualisierung
									<li>Pausenversorgung
									<li>PCs oder Laptops für jeden Nutzer 
									</ul>
									</div>	
								</div>	
								
							
						</div>
					</div>
		<div class ="Gbox50" id="gallery">
							<div id="galleryContens"></div>
						</div>
				</div>
			
			
</body>