<!doctype html>
<html>
	<head>
		<title>partner</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/partner.css">
		<script type="text/javascript" src="js/partner.js"></script>
		<script>window.onpopstate = parent.checkBt();</script>
		<style>
			@import 'https://fonts.googleapis.com/css?family=Rubik';
			@import 'https://fonts.googleapis.com/css?family=Raleway';
			<!--ul {list-style-image:url(img/ico.png)};-->
		</style>
	</head>
	
	
	<body>
		<div id="cont1">
						<div id="partner">
						<div id="titleTX">Partner</div>
							<div class="x2Box"> 
								<img src="img/partner/ArturSpeer.png" class="aniLogo" onmouseover = "hoverIN(0)" onmouseout = "hoverOUT()" id="Artur">
								<img src="img/partner/Auctoteam.png" class="aniLogo" onmouseover = "hoverIN(1)" onmouseout = "hoverOUT()" id="Auc">
								<img src="img/partner/BITS.png" class="aniLogo" onmouseover = "hoverIN(2)" onmouseout = "hoverOUT()" id="BITS">
								<img src="img/partner/CCB.png" class="aniLogo" onmouseover = "hoverIN(3)" onmouseout = "hoverOUT()" id="CCB">
								<img src="img/partner/CDI.png" class="aniLogo" onmouseover = "hoverIN(4)" onmouseout = "hoverOUT()" id="CDI">
								<img src="img/partner/CMCS.png" class="aniLogo" onmouseover = "hoverIN(5)" onmouseout = "hoverOUT()" id="CMCS">
								
								<img src="img/partner/com.png" class="aniLogo" onmouseover = "hoverIN(6)" onmouseout = "hoverOUT()" id="com">
								<img src="img/partner/comhard.png" class="aniLogo" onmouseover = "hoverIN(7)" onmouseout = "hoverOUT()" id="comh">
								<img src="img/partner/comparex.png" class="aniLogo" onmouseover = "hoverIN(8)" onmouseout = "hoverOUT()" id="comp">
								<img src="img/partner/ExecuTrain.png" class="aniLogo" onmouseover = "hoverIN(9)" onmouseout = "hoverOUT()" id="exe">
								<img src="img/partner/frienldy.png" class="aniLogo" onmouseover = "hoverIN(10)" onmouseout = "hoverOUT()" id="frindly">
								<img src="img/partner/geotek.png" class="aniLogo" onmouseover = "hoverIN(11)" onmouseout = "hoverOUT()" id="geo">
								
								<img src="img/partner/getIt.png" class="aniLogo" onmouseover = "hoverIN(12)" onmouseout = "hoverOUT()" id="getIT">
								<img src="img/partner/intergrata.png" class="aniLogo" onmouseover = "hoverIN(13)" onmouseout = "hoverOUT()" id="inte">
								<img src="img/partner/telekom.png" class="aniLogo" onmouseover = "hoverIN(14)" onmouseout = "hoverOUT()" id="tel">
								<img src="img/partner/theIT.png" class="aniLogo" onmouseover = "hoverIN(15)" onmouseout = "hoverOUT()" id="theIT">
							</div>
					</div> 
				
			</div><!-- Contens end-->
	</body>

</html>