<!doctype html>
<html>
	<head>
		<title>referenz</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/impress.css">
		<script>window.onpopstate = parent.checkBt();</script>
		<style>
			@import 'https://fonts.googleapis.com/css?family=Rubik';
			@import 'https://fonts.googleapis.com/css?family=Raleway';
			<!--ul {list-style-image:url(img/ico.png)};-->
		</style>
		
		
	</head>
	
	
	<body>
		
				<div id="cont1">
					
					<div id="aboutAll">
					
						<div id="about1"><br>Referenzen</div>
						<div id="ref">
						<br><strong>Mercedes Benz</strong> FORD Werk Berlin <strong>Siemens/Nixdorf Informationssysteme</strong> Berliner Tiefbau GmbH <strong>GERLING Konzern</strong> 
						SPAR AG Berlin/Brandenburg <strong>Bundesamt für Strahlenschutz</strong> Deutsche Bau-  und Bodenbank AG - Rechenzentrum Außenstelle Erfurt <strong>Springer Verlag</strong> 
						Treuhandanstalt/Treuhand Liegenschaften Berlin - Potsdam - Erfurt ‑ Schwerin - Dresden <strong>Deutsche Bahn</strong>  Fürst Donnersmark Stiftung Berlin <strong>AOK Berlin</strong>
						Efidia Baubetreuungs-  GmbH Berlin <strong>Deutscher Bundestag - Abwicklungsstelle Volkskammer</strong> Flottenkommando Glücksburg   <strong>HEWLETT PACKARD Böblingen</strong>  
						BEWAG / EBAG Berlin <strong>Bundesforschungsministerium</strong> Oberfinanzdirektion des Landes Brandenburg <strong>Rank Xerox</strong>   ENDRIS Vertriebs GmbH für Mercedes Benz LKW 
						<strong>Oberfinanzdirektion Cottbus</strong> Brunnenbau und Rohrtechnik GmbH Nauen <strong>Berlin Brandenburgische Flughafenholding</strong>  REEMTSMA 
						<strong>Senatsverwaltung für Bau- und Wohnungswesen Berlin</strong>  Berliner Volksbank ABC Barkreditbank Lidl & Schwarz (Einkauf O+G Meißen) <strong>SIEMENS AG Kabelwerk Berlin</strong> 
						Ingenieurbüro Klein <strong>AVM Computersysteme Vertriebs GmbH</strong> OTIS GmbH <strong>Bundesgesundheitsamt</strong>  Veidekke GmbH  <strong>Deutsche Bahn AG </strong>
						DISOS GmbH <strong>MACULAN GmbH</strong> Ingenieurhochbau Berlin <strong>Europäisches Patentamt</strong> FAGA Hoch - Tief Berlin <strong>Berlin‑Kölnische Versicherungen</strong> 
						GEHAG Wohnungsbaugesellschaft <strong>Berliner Stadtreinigung</strong> MITROPA AG <strong>Deutsche Genossenschaftsbank</strong> WAVIN ORBITA <strong>Rohrsysteme GmbH</strong> 
						Westeregeln <strong>UNION Schifffahrt ‑ und Lagerhaus GmbH Hannover</strong> GRE GAUFF RAIL ENGINEERING <strong>IA Fernsehen</strong> Bundesanstalt für offene Vermögensfragen 
						<strong>Berlin Chemie AG</strong> Bundeskartellamt Bundesinstitut für gesundheitlichen Verbraucherschutz und Veterinärmedizin  <strong>SEAT Deutschland</strong>  VODAFONE 
						<strong>Nissan </strong> Magdeburger Brau GmbH <strong>Europäisches Patentamt</strong> T-Systems <strong>LVA Berlin</strong> BFA Deutschland <strong>Toll Collect</strong>
						Deutsches Institut für Bautechnik <strong>Helios Klinikum Berlin Buch</strong> Landau Midia Monitoring <strong>DZ Bank AG </strong>Daimler Crysler AG<strong>  Sony Entertainments </strong> Deutsche Post
						<strong>FIAT Group Deutschland</strong> Investitionsbank Berlin <strong>SANA Kliniken</strong> Grundy-UFA- Filmgesellschaft <strong>DIN Deutsches Institut für Normung e.V.</strong> 
						CDU / CSU Fraktion des Bundestages <strong>Deutsche Telekom AG, Laboratories</strong> BSR <strong>Volkswagen Originalteile Logistik GmbH & Co.KG</strong>  Magdeburger Stadtwerke 
						<strong>KFW Bankengruppe</strong> IG BCE <strong>Thiele AG</strong> AUDI <strong>ATLEAS Elektronics AG</strong> Allianz Versicherung <strong>Heidelberger Druckmaschinen GmbH </strong>u.v.a
						</div>
						</div>
				</div> 
	</body>

</html>