<!doctype html>
<html>
	<head>
		<title>seminare</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/seminare.css">
			<script>window.onpopstate = parent.checkBt();</script>
			<style>
			@import 'https://fonts.googleapis.com/css?family=Rubik';
			@import 'https://fonts.googleapis.com/css?family=Raleway';
			<!--ul {list-style-image:url(img/ico.png)};-->
		</style>
	</head>
	
	
	<body >
		<div id="cont1">
					<div id="seminareAll">
						<div class="seminare" id="ms">
							<div class="semiTitle">Microsoft Office Produkte <br>Neu: MS Office 2016</div>
							<div class="semiText"><ul>
							<li>MS WORD<li>MS EXCEL<li>MS Powerpoint<li>MS Outlook<li>MS ACCESS<li>MS Frontpage / MS<li>MS Expression
							</ul>
							</div>
						</div>
						<div class="seminare" id="lotus">
							<div class="semiTitle">LOTUS Produkte u.a.</div>
							<div class="semiText"><ul>
							<li>LOTUS Smart Office <li>Lotus NOTES
							</ul>
							</div>
						</div>
						<div class="seminare" id="adobe">
							<div class="semiTitle">ADOBE Produkte u.a.</div>
							<div class="semiText"><ul>
							<li>ADOBE Photoshop<li>ADOBE Illustrator<li>ADOBE InDesign 
							</ul>
							</div>
						</div>
						<div class="seminare" id="corel">
							<div class="semiTitle">COREL Produkte</div>
							<div class="semiText"><ul>
							<li>CorelDRAW Graphic Suite X
							</ul>
							</div>
						</div>
						<div class="seminare" id="spez">
							<div class="semiTitle">Spezialsoftware</div>
							<div class="semiText"><ul>
							<li>Think-Cell
							<li>CRM-T - Telekom
							<li>phantasy - DGB Rechtsschutz GMBH
							<li>Lear - Nissan Händelersoftware
							<li> PeopleSoft - CRM - Vodaphone
							</ul>
							</div>
						</div>
								
						</div>
				</div> 
			</body>

</html>